if SHIELD_EVO56_LEFT

config ZMK_KEYBOARD_NAME
    default "evo56"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_EVO56_LEFT || SHIELD_EVO56_RIGHT

config ZMK_SPLIT
    default y

endif
