ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <80>;
    bindings = <&kp>, <&kp>;
    hold-trigger-on-release;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <80>;
    bindings = <&kp>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_tab, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_back, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_shift, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&kp>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_scr, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_sni, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)

ZMK_BEHAVIOR(lt_mb3, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <120>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <80>;
    bindings = <&mo>, <&kp>;
    hold-trigger-on-release;
)
