#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  500  237       0     0     0>
            , <&key_physical_attrs 100 100 1110  237       0     0     0>
            , <&key_physical_attrs 100 100    0  247       0     0     0>
            , <&key_physical_attrs 100 100  500  137       0     0     0>
            , <&key_physical_attrs 100 100  503  450    1000   553   500>
            , <&key_physical_attrs 100 100 1107  450 (-1000)  1157   500>
            , <&key_physical_attrs 100 100 1110  137       0     0     0>
            , <&key_physical_attrs 100 100 1610  247       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400   21       0     0     0>
            , <&key_physical_attrs 100 100 1210   21       0     0     0>
            , <&key_physical_attrs 100 100 1310  300       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  500  337       0     0     0>
            , <&key_physical_attrs 100 100 1110  337       0     0     0>
            , <&key_physical_attrs 100 100 1310  100       0     0     0>
            , <&key_physical_attrs 100 100  100  247       0     0     0>
            , <&key_physical_attrs 100 100 1510  247       0     0     0>
            , <&key_physical_attrs 100 100    0   47       0     0     0>
            , <&key_physical_attrs 100 100  200  116       0     0     0>
            , <&key_physical_attrs 100 100  200  316       0     0     0>
            , <&key_physical_attrs 100 100  200   16       0     0     0>
            , <&key_physical_attrs 100 100  400  321       0     0     0>
            , <&key_physical_attrs 100 100 1210  321       0     0     0>
            , <&key_physical_attrs 100 100 1410   16       0     0     0>
            , <&key_physical_attrs 100 100 1410  316       0     0     0>
            , <&key_physical_attrs 100 100 1410  116       0     0     0>
            , <&key_physical_attrs 100 100 1610   47       0     0     0>
            , <&key_physical_attrs 100 100    0  347       0     0     0>
            , <&key_physical_attrs 100 100  100  347       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100 1310  200       0     0     0>
            , <&key_physical_attrs 100 100 1510  347       0     0     0>
            , <&key_physical_attrs 100 100 1610  347       0     0     0>
            , <&key_physical_attrs 100 100  200  216       0     0     0>
            , <&key_physical_attrs 100 100 1410  216       0     0     0>
            , <&key_physical_attrs 100 100  100   47       0     0     0>
            , <&key_physical_attrs 100 100  400  121       0     0     0>
            , <&key_physical_attrs 100 100  500   37       0     0     0>
            , <&key_physical_attrs 100 100 1110   37       0     0     0>
            , <&key_physical_attrs 100 100 1210  121       0     0     0>
            , <&key_physical_attrs 100 100 1510   47       0     0     0>
            , <&key_physical_attrs 100 100  100  147       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400  221       0     0     0>
            , <&key_physical_attrs 100 100 1210  221       0     0     0>
            , <&key_physical_attrs 100 100 1310    0       0     0     0>
            , <&key_physical_attrs 100 100 1510  147       0     0     0>
            , <&key_physical_attrs 100 100  392  439       0     0     0>
            , <&key_physical_attrs 100 100 1218  439       0     0     0>
            , <&key_physical_attrs 100 100    0  147       0     0     0>
            , <&key_physical_attrs 100 100  610  480    1800   660   530>
            , <&key_physical_attrs 100 100 1000  480 (-1800)  1050   530>
            , <&key_physical_attrs 100 100 1610  147       0     0     0>
            , <&key_physical_attrs 100 100  292  445       0     0     0>
            , <&key_physical_attrs 100 100 1318  445       0     0     0>
            ;
    };
};
